<!-- About Section -->
<section id="about" class="container content-section">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <h2>About Project Electron</h2>
          <div class="about">
            <p>Project Electron aims to build sustainable, user-centered, and standards-compliant infrastructure to support the ongoing acquisition, management, preservation of digital records so that we can make them available in the broadest and most equitable way possible.</p>

            <p>The project will consist of a repository to store digital records and metadata, an API layer to manage system interactions, as well as integrations with a current and future systems which assist in archival processes of appraisal, acquisition, arrangement, description, access and preservation.</p>

            <p>This project is a partnership between Rockefeller Archive Center and Marist College IT.</p>
          </div>
        </div>
    </div>
</section>
