<!-- About Section -->
<section id="about" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <br/><br/>
          <h2>About Project Electron</h2>
          <br/>
            <p>Project Electron is a major project to build sustainable, user-centered, and standards-compliant infrastructure to support the ongoing acquisition, management, preservation of digital records so that we can make them available in the broadest and most equitable way possible.</p>
            <p>The project will consist of a repository, which will store digital records as well as information about them (including archival description, technical metadata and preservation metadata) which will help us manage and provide access to them over time. Sitting on top of that, we’ll have an API layer which will help us manage system interactions between the repository and other archival systems which assist in processes such as accessioning, description, and access.</p>
            <img src="/project_electron/img/project_electron.png" alt="Project Electron outline" align="middle" width="584" height="298">
            <p>The Rockefeller Archive Center will be partnering with Marist College IT and leaning heavily on their technical infrastructure and expertise to pull this off. We're really excited about this project, so come along with us!</p>
            <br/>
        </div>
    </div>
</section>
