<!-- Values Section -->
<section id="docs">
  <div class="content-section-a">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <h2>Project Documentation</h2>
          <div class="values">
            <h3>Project Milestones</h3>
            <p>We hae created milestones for the first year of Project Electron, and are making them available to the public in order to give stakeholders a sense of the overall timeline.
            You can view the milestones on our Github repository <a href="https://github.com/RockefellerArchiveCenter/project_electron/blob/master/docs/Milestones.md">here</a>.</p>

            <h3>Licensing Approach</h3>
            <p>Making Project Electron available to any interested parties lines up with our mission as a philanthropic organization. As such, clear and open licensing is vital.
            We've laid out our <a href="https://github.com/RockefellerArchiveCenter/project_electron/blob/master/docs/Licensing_Plan.md">Licensing Approach</a> in this document. Please head over to our Github and check it out.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
