<!-- Values Section -->
<section id="docs">
  <div class="content-section-a">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <h2>Project Documentation</h2>
          <div class="values">
            <h3>Project Milestones</h3>
            <p>We have created milestones for the first year of Project Electron, and are making them available to the public in order to give stakeholders a sense of the overall timeline.
            You can view the milestones on our Github repository <a href="https://github.com/RockefellerArchiveCenter/project_electron/blob/master/docs/Milestones.md">here</a>.</p>

            <h3>Licensing Approach</h3>
            <p>Making Project Electron available to any interested parties lines up with our mission as a philanthropic organization. As such, clear and open licensing is vital.
            We've laid out our <a href="https://github.com/RockefellerArchiveCenter/project_electron/blob/master/docs/Licensing_Plan.md">Licensing Approach</a> in this document. Please head over to our Github and check it out.</p>

            <h3>User Stories</h3>
            <p>In the interest of full transparency, we're making all of the Project Electron user stories available. We gathered these from in-person interviews, surveys, and existing literature. They are divided into four groups: Donors and Depositors, Researchers, Rockefeller Archive Center Staff, and Allied Information Professionals.
            All <a href="https://github.com/RockefellerArchiveCenter/project_electron/tree/master/user-stories">User Stories</a> are available on our Github.</p>

            <h3>Personas</h3>
            <p>After gathering user stories, we used a collaborative card-sorting process to roughly outline our Personas with the help of various RAC staff. We created 12 total personas across three of our User Story groups, and we feel these accurately cover the type of users we encounter in our daily activities, as well as users we expect to encounter in the future.
            All <a href="https://github.com/RockefellerArchiveCenter/project_electron/tree/master/personas">Personas</a> are available on our Github.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
