{% if site.theme_settings.katex and page.id %}
<script src="{{ "/assets/js/katex_init.js" | relative_url }}"></script>
{% endif %}

{% if site.theme_settings.footer_text %}
<footer role="contentinfo">
	<div class="site-footer">
		<p class="text">{{ site.theme_settings.footer_text }}</p>
	</div>
	<div class="license-footer">
		<a rel="license" href="https://creativecommons.org/publicdomain/zero/1.0/">
      <img src="{{ site.baseurl }}/assets/cc0.png" alt="Creative Commons 1.0 Universal License" />
    </a>
	</div>
</footer>
{% endif %}
