<header class="site-header">
	<div class="branding">
		{% if site.theme_settings.gravatar %}
		<a href="{{ site.baseurl }}/">
			<img class="avatar" src="https://secure.gravatar.com/avatar/{{ site.theme_settings.gravatar }}?s=100" alt=""/>
		</a>
		{% elsif site.theme_settings.avatar %}
		<a href="{{ site.baseurl }}/">
			<img class="avatar" src="{{ site.baseurl }}/{{ site.theme_settings.avatar }}" alt="Rockefeller Archive Center Logo"/>
		</a>
		{% endif %}
		<h1 class="site-title">
			<a href="{{ site.baseurl }}/">{{ site.theme_settings.title }}</a>
			{% if site.theme_settings.subtitle %}
				<br /><span class="site-subtitle">{{ site.theme_settings.subtitle }}</span>
			{% endif %}
		</h1>
	</div>

	<nav id="nav" role="navigation">
  	<ul>
			<!-- Menu toggle on smaller screens  -->
				<li id="toggleMenu" role="button" aria-haspopup="true">
					<a href="/sitemap.html">
						<i aria-hidden="true" class="fa fa-bars"></i> <i aria-hidden="true" class="fa fa-times"></i>

						<!-- As icons are being used to represent open/close,
							provide hidden text for screen readers -->
						<span id="toggleMenu-text">Toggle Navigation</span>

					</a>
				</li>
			<!--  Menu item with submenus -->
			{% for nav in site.data.nav %}
      	{% if nav.subcategories != null %}
        	<li>
          	<a href="#">{{ nav.title }}</a>
						<ul>
						{% for subcategory in nav.subcategories %}
          		<li><a href="{{ site.url }}{{ subcategory.subhref }}">{{ subcategory.subtitle }}</a></li>
          	{% endfor %}
						</ul>
					</li>

				<!--  Simple menu items without submenu -->
    		{% elsif nav.title == page.title %}
       		<li><a href="{{ nav.url }}">{{ nav.title }}</a></li>
    		{% else %}
        	<li>
						<a href="{{ site.url }}{{ nav.href }}">{{ nav.title }}</a></li>
      	{% endif %}
    	{% endfor %}
		</ul>
	</nav>
</header>

            <!-- Search bar -->
            <!-- {% if site.theme_settings.search %}
            <li>
            <form action="{{ site.baseurl }}/search.html" method="get">
                <input type="text" id="search-box" name="query" placeholder="Search" class="">
                <button type="submit" class="">
                    <i class="fa fa-fw fa-search"></i>
                </button>
            </form>
            </li>
            {% endif %} -->
