<!-- Team Section -->
<section id="team">
  <div class="content-section-b">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <h2>Meet the RAC Team</h2>
          <div class="team">
            <div class="team-member row">
              <div class="col-sm-4">
                <img class="img-circle img-responsive" src="img/patrick_bio.jpg" alt="Patrick is the coolest">
              </div>
              <div class="col-sm-8">
                <h3>Patrick Galligan</h3>
                <p>Patrick is the resident data person at the RAC. He'll be helping model the connections between different systems in Project Electron, and helping make sure all the data is going to the right place.</p>
              </div>
            </div>
            <div class="team-member row">
              <div class="col-sm-4">
                <img class="img-circle img-responsive" src="img/hillel_bio.jpg" alt="Hillel is the lamest">
              </div>
              <div class="col-sm-8">
                <h3>Hillel Arnold</h3>
                <p>Hillel heads the Digital Programs at the RAC, and makes sure the project stay on schedule, under budget and in compliance with the project values.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
