<!-- Team Section -->
<section id="team">
<div class="content-section-b">
    <div class="container">
        <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <h1 align="right" font-size:"large">Meet the RAC Team</h1>
        <div class="values">
          <img style="float: right" src="/project_electron/img/patrick_bio.jpg" alt="Patrick is the coolest" width="200" height="350">
          <p>Lorem ipsum</p>
        </div>
        </div>
        </div>
      </div>
  </div>
</section>
