

<div>
  <div class="team-member row">
    <div class="img-position">
      <img class="img-circle" src="/assets/img/hillel_bio.jpg" alt="Hillel image">
    </div>
    <div class="col-sm-8">
      <h3>Hillel Arnold</h3>
      <p>Hillel heads the Digital Programs at the RAC, and makes sure the project stay on schedule, under budget and in compliance with the project values.</p>
    </div>
  </div>
  <div class="team-member row">
    <div class="img-position">
      <img class="img-circle" src="/assets/img/hannah_bio.jpg" alt="Hannah image">
    </div>
    <div class="col-sm-8">
      <h3>Hannah Sistrunk</h3>
      <p>Hannah is focused on usability and project management work. She'll be coordinating with Project Electron partners and helping to ensure that we are building engaging and well-documented infrastructure that benefits users.</p>
    </div>
  </div>
  <div class="team-member row">
    <div class="img-position">
      <img class="img-circle" src="/assets/img/patrick_bio.jpg" alt="Patrick image">
    </div>
    <div class="col-sm-8">
      <h3>Patrick Galligan</h3>
      <p>Patrick is the resident data person at the RAC. He'll be helping model the connections between different systems in Project Electron, and helping make sure all the data is going to the right place.</p>
    </div>
  </div>
  <div class="team-member row">
    <div class="img-position">
      <img class="img-circle" src="/assets/img/bonnie_bio.jpg" alt="Bonnie image">
    </div>
    <div class="col-sm-8">
      <h3>Bonnie Gordon</h3>
      <p>Bonnie is all about preserving born digital records, and will help develop processes to get donors' records into the repository.</p>
    </div>
  </div>
</div>
