    <!-- Values Section -->
    <section id="values">
    	<div class="values">
    		<div class="container">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>Our Values</h2>
              <br/>
                <p>Create reproducible and modular deliverables</p>
                <p>So that our work has the broadest possible impact, the components of Project Electron will be built using open-source technologies and will be comprehensively documented so they can be easily implemented by other institutions. We will use “stopwatch metrics” to measure our progress towards creating software that is easy to deploy. Components should be modular and generalizable; to the greatest extent possible their deployment should be independent of other systems and flexible enough to accommodate integration with changing systems.</p>
                <p>Place users at the center of the design process</p>
                <p>In order to produce tools that are empowering, engaging, transparent and robust, we will employ user-centered design methodologies to define user communities – including Rockefeller Archive Center staff, on-site and remote researchers, donor organizations and individual donors – to understand their needs. We will seek to implement constraints and affordances to the user’s benefit, assigning repetitive, detailed and time-consuming work to machines while enabling humans to exercise their critical thinking skills to full capacity. We will provide solutions to support donors and donor organizations with a wide range of technical expertise while protecting our researchers’ privacy by limiting collection and retention of personally identifying information and anonymizing data used for analysis.</p>
                <p>Support archival practices and standards</p>
                <p>The project deliverables will maintain compatibility with existing standards for data content and structure, and will support established archival processes for accessioning/ingest, arrangement and description, discovery and access, and long-term preservation. The project will support best practices before edge cases, focusing on central use cases while accommodating edge cases when possible.</p>
                <p>Support data in motion</p>
                <p>Rather than seeking the unattainable goal of completely centralized or deduplicated data, we recognize that not only is duplicate and distributed data a reality of our networked world, it is also a desirable outcome for an organization whose mission includes broad dissemination of knowledge. As a result, we will think about systems as points at which humans interact with or manage data rather than canonical sources of data, and the underlying API and business logic that syncs data between systems as a platform on which access and use services can be built. In addition to facilitating data flow between internal systems, we also want to accommodate systems external to the Rockefeller Archive Center.</p>
                <br/>
              </div>
        </div>
      </div>
    </section>
