.site-header {
  padding: 1em 1.5em;
  background: $brand-color;
  border-bottom: 1px solid $border-color;
  display: inline-block;
  float: left;
  width: 100%;

  a {
    color: #072F53;
  }

  .avatar {
    height: 4em;
    float: left;
    margin-right: 1em;
  }

  .site-title {
    float: left;
    font-weight: bold;
    font-size: 1.5em;
    line-height: 1.5;
    margin-top: .5em;
  }
}

/* --- Navigation --- */

.navbar	{
  padding: 0;
  margin-top: .75em;
  list-style: none;
  line-height: 1.5;
  float: right;
  text-align: right;

  li 	{
  	height: auto;
    width: 150px;
    float: left;  /* This lines up the menu items horizontally */
  	text-align: center;  /* All text is placed in the center of the box */
  	list-style: none;  /* Removes the default styling (bullets) for the list */
  	padding: .5em;
  	margin: 0;
    background-color: #1c4364;
  }

  a {
    color: #fff;
    display: block;
    text-decoration: none;  /* Removes the default hyperlink styling. */
  }

  li:hover, li:focus, a:hover, a:focus {
    background-color: #072F53;
  }

  li ul {
    display: none;  /* Hides the drop-down menu */
    height: auto;
    margin: 0; /* Aligns drop-down box underneath the menu item */
    padding: 0; /* Aligns drop-down box underneath the menu item */
  }

  li:hover ul {
    display: block; /* Displays the drop-down box when the menu item is hovered over */
  }

  li ul li {
    float: right;
    background-color: #366b82;
  }
}



  // /* --- Search form --- */
  // form {
  //     border: 0;
  //     border-bottom: 2px solid $search-color;
  //     outline: 0;
  //
  //     *:focus {
  //         outline: none;
  //     }
  //
  //     input{
  //         &[type=text] {
  //             box-sizing: border-box;
  //             border: 0;
  //             outline: 0;
  //             color: $search-color;
  //         }
  //
  //         &::-moz-placeholder {
  //             color: $search-color;
  //             opacity: 1;
  //         }
  //
  //         &:-ms-input-placeholder, &::-webkit-input-placeholder {
  //             color: $search-color;
  //         }
  //     }
  //
  //     button {
  //        border: none;
  //        font-size: 0.9em;
  //        background-color: $brand-color;
  //        color: $search-color;
  //     }
  // }
