.site-header {
  padding: 1em 1.5em;
  background: $brand-color;
  border-bottom: 1px solid $border-color;
  display: inline-block;
  width: 100%;

  a {
    color: #072F53;
  }

  .avatar {
    height: 4em;
    float: left;
    margin-right: 1em;
  }

  .site-title {
    float: left;
    font-weight: bold;
    font-size: 1.5em;
    line-height: 1.5;
    margin-top: .5em;
  }
}

/* --- Navigation --- */
/* Resets */
#nav, #nav ul, #nav li {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  box-sizing: border-box; }

#nav {
  float: right;
  position: relative;
  min-height: 60px;
  max-width: 100%;
  margin-top: .5em;
  background-color: #356586;
  border: 1px solid #072F53; }
  @media screen and (min-width: 650px) {
    #nav {
      display: inline-block; } }
  @media screen and (max-width: 650px) {
    #nav {
      display: block; } }

#nav li {
  position: relative; }

#nav a {
  text-decoration: none;
  color: #fff;
  height: 100%;
  display: block;
  padding: 0 20px;
}

@media screen and (min-width: 650px) {
  #nav a:focus {
    outline: none; } }

.plusMark {
  margin-left: 10px;
  font-size: 20px;
  font-weight: 700; }

@media screen and (min-width: 650px) {
  #nav li {
    text-align: left;
    width: 200px; } }
@media screen and (max-width: 650px) {
  #nav li {
    text-align: center;
    width: 100%; } }

/* Any sub menu */
@media screen and (min-width: 650px) {
  a + ul {
    position: absolute; }
    a + ul:not(.js-showElement) {
      display: none; } }
@media screen and (max-width: 650px) {
  a + ul {
    position: relative; }
    a + ul:not(.js-hideElement) {
      display: block; } }

/* The Main Navigation Bar - Navigation Level One */
#nav > ul, .fa {
  height: 100%;
  line-height: 60px; }

#nav > ul > li {
  position: relative;
  text-align: center; }
  @media screen and (min-width: 650px) {
    #nav > ul > li {
      float: left;
      width: auto; } }
  @media screen and (max-width: 650px) {
    #nav > ul > li {
      float: none;
      display: block;
      width: 100%; } }

#nav > ul > li > a {
  background-color: #356586; }
  #nav > ul > li > a:hover, #nav > ul > li > a:focus, #nav > ul > li > a.js-openSubMenu {
    background-color: #072F53; }

#nav > ul > li:hover > a, #nav > ul > li:focus > a {
  background-color: #072F53; }

@media screen and (min-width: 650px) {
  #nav > ul > li:not(:last-child) {
    border-right: 1px solid #072F53;
    border-bottom: none; } }
@media screen and (max-width: 650px) {
  #nav > ul > li:not(:last-child) {
    border-right: none; }
    #nav > ul > li:not(:last-child):not(:first-child) {
      border-bottom: 1px solid #072F53; } }

#nav > ul > li:not(#toggleMenu):not(.js-showElement) {
  /* first level nav li except toggleMenu icon */ }
  @media screen and (min-width: 650px) {
    #nav > ul > li:not(#toggleMenu):not(.js-showElement) {
      display: inline-block; } }
  @media screen and (max-width: 650px) {
    #nav > ul > li:not(#toggleMenu):not(.js-showElement) {
      display: none; } }

@media screen and (min-width: 650px) {
  #nav #toggleMenu {
    display: none; } }
@media screen and (max-width: 650px) {
  #nav #toggleMenu {
    display: block;
    width: 100%; }
    #nav #toggleMenu.js-open {
      border-bottom: 1px solid #356586; }
      #nav #toggleMenu.js-open .fa-times {
        display: block; }
      #nav #toggleMenu.js-open .fa-bars {
        display: none; }
      #nav #toggleMenu.js-open a {
        background-color: #072F53; }
    #nav #toggleMenu:not(.js-open) .fa-times {
      display: none; }
    #nav #toggleMenu:not(.js-open) .fa-bars {
      display: block; } }

span#toggleMenu-text {
  position: absolute;
  opacity: 0; }

/* Second Level Dropdown */
#nav > ul > li > ul {
  background-color: #072F53; }
  @media screen and (min-width: 650px) {
    #nav > ul > li > ul {
      top: 60px;
      left: 0; } }
  @media screen and (max-width: 650px) {
    #nav > ul > li > ul {
      width: 100%;
      position: relative; }
      #nav > ul > li > ul:not(.js-showElement) {
        display: none; } }

#nav > ul > li > ul > li > a {
  background-color: #072F53; }
  #nav > ul > li > ul > li > a:hover, #nav > ul > li > ul > li > a:focus {
    background-color: #356586; }

#nav > ul > li > ul > li:not(:last-child) a {
  border-bottom: 1px solid #356586; }

/* Javascript classes */
#nav .js-hideElement {
  display: none; }

#nav .js-showElement {
  display: block; }

/* Fallback for users without javascript */
html.no-js li:hover > a + ul, html.no-js li:focus > a + ul {
  display: block; }
@media screen and (max-width: 650px) {
  html.no-js #nav:hover > ul > li:not(#toggleMenu), html.no-js #nav:focus > ul > li:not(#toggleMenu) {
    display: block; }
  html.no-js #nav:hover li:hover > a + ul, html.no-js #nav:hover li:focus > a + ul, html.no-js #nav:focus li:hover > a + ul, html.no-js #nav:focus li:focus > a + ul {
    display: block; } }


// .navbar	{
//   padding: 0;
//   margin-top: .75em;
//   list-style: none;
//   line-height: 1.5;
//   float: right;
//   text-align: right;
//
//   li 	{
//   	height: auto;
//     width: 150px;
//     float: left;  /* This lines up the menu items horizontally */
//   	text-align: center;  /* All text is placed in the center of the box */
//   	list-style: none;  /* Removes the default styling (bullets) for the list */
//   	padding: .5em;
//   	margin: 0;
//     background-color: #1c4364;
//   }
//
//   a {
//     color: #fff;
//     display: block;
//     text-decoration: none;  /* Removes the default hyperlink styling. */
//   }
//
//   li:hover, li:focus, a:hover, a:focus {
//     background-color: #072F53;
//   }
//
//   li ul {
//     display: none;  /* Hides the drop-down menu */
//     height: auto;
//     margin: 0; /* Aligns drop-down box underneath the menu item */
//     padding: 0; /* Aligns drop-down box underneath the menu item */
//     position: absolute;
//     width: 150px;
//     outline: 2px solid #072F53;
//   }
//
//   li:hover ul {
//     display: block; /* Displays the drop-down box when the menu item is hovered over */
//   }
//
//   li ul li {
//     float: right;
//     background-color: #366b82;
//   }
// }



  // /* --- Search form --- */
  // form {
  //     border: 0;
  //     border-bottom: 2px solid $search-color;
  //     outline: 0;
  //
  //     *:focus {
  //         outline: none;
  //     }
  //
  //     input{
  //         &[type=text] {
  //             box-sizing: border-box;
  //             border: 0;
  //             outline: 0;
  //             color: $search-color;
  //         }
  //
  //         &::-moz-placeholder {
  //             color: $search-color;
  //             opacity: 1;
  //         }
  //
  //         &:-ms-input-placeholder, &::-webkit-input-placeholder {
  //             color: $search-color;
  //         }
  //     }
  //
  //     button {
  //        border: none;
  //        font-size: 0.9em;
  //        background-color: $brand-color;
  //        color: $search-color;
  //     }
  // }
