.team-member {
  margin-bottom: 2em;
}

.img-circle {
  border-radius: 50%;
}

.img-position {
  position: relative;
  min-height: .05em;
  padding-right: .75em;
  padding-left: .75em;
  float: left;
}

.col-sm-8 {
  position: relative;
  min-height: .05em;
  padding-right: .75em;
  padding-left: .75em;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}
