<!DOCTYPE html>
<html class="no-js" lang="en">
  {% include head.html %}
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NHJHH7L"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <a href="#main" class="skip-link visually-hidden">Jump directly to main content</a>
    {% include header.html %}
    <main id="main" class="content" role="main">
      {{ content }}
    </main>
    {% include footer.html %}
  </body>
</html>
