---
layout: default
---

<article {% if page.feature-img %}class="feature-image"{% endif %}>
  <header style="background-image: url('{{ site.baseurl }}/{{ page.feature-img }}')">
    <h1 class="title">{{ page.title }}</h1>
    {% if page.subtitle %}<p class="subtitle">{{ page.subtitle }}<pp>{% endif %}
  </header>
  <section class="post-content">
    <p><a href="http://rockarch.org">Rockefeller Archive Center's</a> Project Electron aims to build sustainable, user-centered, and standards-compliant infrastructure
    to support the ongoing acquisition, management, and preservation of archival digital records so that we can make
    them available in the broadest and most equitable way possible.
    </p>

    <div class="container equal-height">
      <div class="six columns card call-to-action">
        <h2>
          <a href="/about/">About</a>
        </h2>
        <p>Read about how it works and link to the code</p>
      </div>
      <div class="six columns card call-to-action">
        <h2>
          <a href="/research/">Research</a>
        </h2>
        <p>Explore project artifacts and resources</p>
      </div>
    </div>
    <div class="container equal-height">
      <div class="six columns card call-to-action">
        <h2>
          <a href="/transfer/">Transfer</a>
        </h2>
        <p>Access specification to transfer digital records</p>
      </div>
      <div class="six columns card call-to-action">
        <h2>
          <a href="/values/">Values</a>
        </h2>
        <p> Engage the ideas that shape our work</p>
      </div>
    </div>
  </section>
</article>
